.ng-invalid.ng-touched{
    border-color: red;
}
.text-danger{
    font-size: 12px;
}

/* the below not working it should make the radio button in the add-property form a bit round */
.btn-group > label [ng-reflect-btn-radio]{
    border-radius: 44px;
    padding: 0 15px;
    line-height: 30px;
}


/* the below two for Your Property Preview which is in the add-property-component.html */
.card-header>h1,.card-header>h2,.card-header>h3{
    color: white;
}

.card-header{
    height: 42px;
    padding: 4px 10px !important;
    background-color: #007bff !important;
}

.card-title{
    color: #007bff;
}